[Unit]
Description=service discovery
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/srv/http/run/nginx.pid
ExecStart=/usr/bin/chroot --userspec=consul:consul /srv/consul /usr/bin/consul -pid-file /run/consul.pid
ExecReload=/usr/bin/chroot --userspec=consul:consul /srv/consul /usr/bin/consul -pid-file /run/consul.pid
ExecStop=/usr/bin/chroot --userspec=consul:consul /srv/consul /usr/bin/consul -pid-file /run/consul.pid

[Install]
WantedBy=multi-user.target
