[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target
[Service]
#EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
User=consul
WorkingDirectory=/var/consul
ExecStart=/usr/sbin/consul agent -config-dir=/etc/consul.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
