[Unit]
Description=kronos agent
Requires=network-online.target
After=network-online.target
[Service]
Restart=on-failure
User=kronos
WorkingDirectory=/var/kronos
ExecStart=/srv/kronos/bin/cluster_node 
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target

